@import "normalyze.styl"
@import "fonts.styl"
@import "nib"

// PERSONALIZAR nib
// vendor-prefixes = webkit o ms moz official otro

// MIXINS (si no usamos nib)
// animacion(parametro)
// 	-webkit-animation parametro
// 	-moz-animation parametro
// 	-o-animation parametro
// 	-ms-animation parametro
// 	animation parametro

gris_oscuro = #333333
gris_claro = #818181
rojo = #CC2F6F
gris_mas_claro = #F3F3F3

a 	
	text-decoration none
body
	font-family 'Varela Round', sans-serif
	font-size 16px
figure
	margin 0
img
	vertical-align top
ul
	margin 0 
	padding 0
	
//OOCSS CLASES
.relative
	position relative
.center-block
	margin 0 auto
.center-text
	text-align center
.padding
	padding 1em
.right-text
	text-align right
.border-bottom
	border-bottom 1px solid gris_claro
.round
	border-radius 50%
	overflow hidden
.wrap
	width 1000px
///////////////
.logo
	display none
.playlist
	display none
.header
	height 3.5em	
	.button-menu
		color gris_oscuro
		left .5em
		margin-top -10px
		position absolute
		top 50%
	.title
		font-size 1.1em
		line-height 3.3em
		text-align center
	.menu
		display none
		
			
.container
	font-size 0
	padding 1.4rem
	text-align center
	
.name
	color gris_oscuro
	font-size 1.2em
		
.author
	color gris_claro
	
.song
	display inline-block 
	font-size 1rem
	margin-bottom 1em
	margin-right 1em
	text-align left
	width 8rem
	&:nth-child(even)
		margin-right 0
	p 
		margin .5em 0
		
.playing
	&.small
		margin 0 auto
		width 20em
	p 
		margin .5em 0
		
.actions
	position absolute
	bottom 0
	left 0
	right 0
	background rgba(black, .3)

.action 
	font-size 1.25em
	color white
	letter-spacing: .4em // AGREGADO POR MI
	&.gray
		color gris_claro

.progress
	margin 1em 0
	position relative
	.min 
	.max
		font-size .8em
		position absolute
		top -5px
	.min
		left 0
	.max
		right 0
	.total
		background gris_claro
		border-radius 5px		
		height 5px
		width 75%
		margin 0 auto
	.state
		background rojo
		border-radius 5px
		height 5px
		position relative
		width 35%
		animation 100s state infinite linear
		
	.circle
		background gris_oscuro
		border-radius 50%
		height 10px
		position absolute
		right 0
		top -2px
		width 10px
		animation 1s circle infinite
		
// KEYFRAMES
		
@keyframes state
	0%
		width 0
	100%
		width 100%
@keyframes circle
	0%
		transform scale(1) 
	100%
		transform scale(2) 
		opacity 0
		
.play 
	margin-top 1em
	letter-spacing 1em

.avatar
	display inline-block	
.input
	border 1px solid gris_claro
	border-radius 5px
	color gris_claro
	height 2.5em
	padding 0 1em 0 2em
.search-icon
	color gris_claro
	left .5em
	position absolute
	top .8em
.close-icon
	font-size 1.2em
	color gris_claro
	right .5em
	position absolute
	top .4em
	
// MEDIAQUERY

// A PARTIR DE 480 PX DE ANCHO (TABLET)
@media screen and (min-width:480px) 
	.song
		&:nth-child(even)
			margin-right 1em
	.image
		img
			width 100%
			height auto
	.playing
		&.medium
			width auto
	.logo
		display none
	.playlist
		display none

// A PARTIR DE 1000 PX DE ANCHO (DESKTOP)			
@media screen and (min-width:1000px)
	body
		background gris_mas_claro
	.button-menu
		display none
	.playing
		&.large
			margin 0 auto
			width 62.5em
			display flex
			justify-content space-between
			
	.description
		display none
	.music
		width 30.5em
		
	.playlist
		display block
		width 26em
		padding 0 0 0 2.5em
		border-left 1px solid gris_claro	
		align-self flex-start
		.name
			font-size 1.75em
		.author
			font-size 1.4em
			border-bottom 1px solid gris_claro
			padding 0 0 1em 0
			margin 0
		.list
			list-style none
			.item
				padding 0.9em 0
				font-size 1.3em
				display flex
				span
					margin-right auto
					
		.action
			font-size 1em
			color gris_claro
			letter-spacing .3em
			
	.header
		height auto
		border none
		margin-bottom 1.5em
		.title
			display none
		.menu
			display block
			.list
				display flex
				flex-direction row
			.item
				list-style none	
				span 
					margin 1em 0
				a
					color gris_oscuro	
					text-transform uppercase
					padding .8em	
					display block
					border-top 5px solid transparent
					&:hover
						border-top 5px solid gris_claro
	
	.header-logo
		background white
		border-bottom 1px solid gris_claro
	.logo 
		display flex
		justify-content space-between
		padding 1em 0
		
	.logotipo
		width 122px
		margin-right auto
	.search
		span
		form
			display inline-block
	.user
		margin-right 1em
		line-height 2.3em
	.username
		color gris_claro
		&:after
			content ""
			border-left 7px solid transparent
			border-top 9px solid gris_claro
			border-right 7px solid transparent
			display inline-block
			
